@charset 'uft-8';
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
img,
form,
input,
header,
footer,
dl,
dt,
dd,
li,
ul,
select,
section,
div,
video,
p,
button,
textarea {
  margin: 0;
  padding: 0;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  color: #375eab;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
header p {
  font-size: 0.8rem;
}
footer {
  font-size: 0.8rem;
}
.header-content {
  padding: 1rem;
}
.body-content {
  padding: 0 1rem;
}
.footer-content {
  padding: 1rem;
}
.url {
  word-break: break-all;
  font-size: 0.8rem;
}
.timestamp {
  font-size: 0.8rem;
}
.links li {
  border-top: 1px solid #d3d3d3;
  padding: 0.5rem;
}
.links li:hover {
  background-color: #f5f5f5;
}
.links li:last-child {
  border-bottom: 1px solid #d3d3d3;
}
@media screen and (min-width: 768px) {
  .header-content {
    padding: 2rem;
  }
  .body-content {
    padding: 0 2rem;
  }
  .footer-content {
    padding: 2rem;
  }
}
@media screen and (min-width: 980px) {
}
